<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dangdang.dao.UserDao">
	<resultMap type="com.dangdang.entity.User" id="userMap">
		<id column="id" property="id"/>
		<result column="email" property="email"/>
		<result column="nickName" property="nickName"/>
		<result column="password" property="password"/>
		<result column="create_date" property="date"/>
	</resultMap>
	<select id="selectByName" resultMap="userMap">
		select * from user where email=#{0} and password = #{1} and state = 1
	</select>
	<insert id="insert">
		insert into user values(
			0,#{email},#{nickName},#{password},#{date},0
		)
	</insert>
	
	<update id="updateState">
		update user set state = 1 where email = #{0}
	</update>
</mapper>
